@charset "utf-8";

	/* section.num01 */
	body .section.num01 {
		margin-bottom: 75px;
	}

	/* madori */
	body .contentsBox {
		padding: 30px;
	}
	.innerArea {
		margin-left: auto;
		margin-right: auto;
	}
	.parentArea {
		position: relative;
		height: 125px;
		margin-bottom: 20px;
	}
	.madoriBtn .btn {
		position: relative;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 20px;
		width: 481px;
		border: #9d8956 solid 5px;
		cursor: pointer;
		background: #89743f;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
	}
	.madoriBtn .btn.pre {
		border: #b0934c solid 5px;
		background: #836941;
	}
	.madoriBtn .btn:hover {
		background: #a69770; 
		border: #cfc7b2 solid 5px;
	}
	.madoriBtn .btn.pre:hover {
		border: #cfc7b2 solid 5px;
	}
	.madoriBtn .btn .type {
		padding: 9px;
	}
	.spec {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 20px 0;
		width: 450px;
		height: 80px;
		font-size: 20px;
		font-weight: 500;
		font-family: "Lustria","ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
		letter-spacing: 1.2px;
		color: #fff;
		border-bottom: 1px #cfc7b2 solid;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
	}
	.pre .spec {
		border-bottom: 1px #b0934c solid;
	}
	.spec .mainTxt {
		float: left;
		padding: 20px 10px;
		border-right: 1px #cfc7b2 solid;
		font-size: 16px;
		font-family: 'Cantata One', serif;
	}
	.pre .spec .mainTxt {
		border-right: 1px #b0934c solid;
	}
	.spec .mainTxt strong {
		font-size: 34px;
	}
	.madoriBtn {
		position: relative;
	}

	/* off */
	.madoriBtn.off .btn {
		background: #635151;
		cursor: default;
	}
	.madoriBtn.off .offTxt {
		position: absolute;
		top: 30%;
		left: 0;
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 28px;
		line-height: 30px;
		letter-spacing: 2px;
		text-shadow: 2px 2px 3px #000; 
	}
	.madoriBtn .btn:hover .spec .mainTxt {
		border-right: 1px #cfc7b2 solid;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
	}
	.madoriBtn .btn.pre:hover .spec .mainTxt {
		border-right: 1px #cfc7b2 solid;
	}
	.madoriBtn .btn:hover .spec {
		border-bottom: 1px #cfc7b2 solid;
	}
	.madoriBtn .btn.pre:hover .spec {
		border-bottom: 1px #836941 solid;
	}
	.spec .space {
		float: right;
		letter-spacing: 1px;
		font-size:11px;
		text-align: right;
		word-wrap: break-word;
	}
	.spec strong {
		font-weight: 500;
		line-height:normal;
		font-size: 26px;
	}
	.spec strong.min {
		font-weight: 500;
		line-height:normal;
		font-size: 18px;
	}
	.tubo {
		padding-top: 1.5em;
	}
	.arrow {
		display: block;
		margin: 10px auto;
		width: 15px;
		height: 6px;
		background: url(../imgs/bg-bt.png) no-repeat left top;
	}
	.madoriArea {
		clear: both;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		padding: 20px;
		width: 1000px;
		display: none;
		position: relative;
		border: #9c8446 solid 5px;
		background: #fff;
	}
	.madoriArea.pre {
		border: #b0934c solid 5px;
	}
	.madori {
		text-align: center;
	}
	.madoriBtn {
		position: absolute;
		z-index: 10;
		
	}
	.madoriBtn.OPEN {
		z-index: 5;
	}
	.madoriBtn.OPEN .btn {
		background: #a69770;
	}
	.sSpec {
		margin: 15px 15px 10px;
		padding-bottom: 10px;
		color: #89743f;
		text-align: left;
		border-bottom: #cfcdcc solid 1px;
	}
	.madoriArea .sSpec {
		margin: 0 0 10px;
		padding-bottom: 10px;
		color: #89743f;
		text-align: left;
		border-bottom: #cfcdcc solid 1px;
	}
	.madoriArea.pre .sSpec {
		color: #836941;
	}
	.sSpec strong {
		font-family: 'Cantata One', serif; font-size: 24px;
	}
	.sSpec strong.min {
		font-size: 16px;
	}
	.specArea {
		padding: 0 15px 15px;
		margin-bottom: 30px;
	}
	#btArea .txt {
		color: #666;
		font-size: 12px;
		float: left;
	}
	.price {
		float: right;
		color: #FF0044;
	}
	.hanrei {
		margin-top: 60px;
		padding-right: 10px;
		text-align: right;
	}
	.msCaption {
		margin-top: 20px;
		margin-bottom: 20px;
		color: #666;
		font-size: 10px;
		text-align: right;
	}
	.msCaption span.sCap {
		display: none;
	}
	
	
/* @media 960 START */
@media screen and (max-width: 960px) {
	#btArea .section {
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
	.msCaption span.sCap {
		display: block;
	}
}
/* @media 960 END */

/* @media 959 START */
@media screen and (max-width: 959px) {
	.innerArea { width: 820px;}
	.parentArea { height: 120px;}
	.madoriArea { width: 820px;}
	.madoriBtn .btn { width: 400px;}
	.spec { width: 378px; font-size: 18px;}
}
/* @media 959 END */

/* @media 820 START */
@media screen and (max-width: 820px) {
	.innerArea { width: 728px;}
	.madoriArea { width: 728px;}
	.madoriBtn .btn { width: 355px;}
	.sSpec { width: 90%;}
	.spec { width: 336px; height: 120px;}
	.spec .mainTxt,.pre .spec .mainTxt { padding-top:0; padding-right:0; padding-bottom:5px; border-right: none;}
	.madoriBtn .btn:hover .spec .mainTxt,.madoriBtn .btn.pre:hover .spec .mainTxt { border-right: none;}
	.madoriArea .btPrint {display: none;}
}
/* @media 820 END */

/* @media 768 START */
@media screen and (max-width: 768px) {
	.innerArea { width: 600px;}
	.parentArea { height: 95px;}
	.madoriArea { width: 600px;}
	.madoriBtn .btn { width: 294px;}
	.spec { width: 256px; font-size: 10px; letter-spacing: normal; height:85px;}
	.spec .space { font-size: 10px;}
	.spec .mainTxt { width: 40%; padding-top: 0px; padding-left: 5px;}
	.spec .mainTxt img { width: 100%;}
	.spec strong { font-size: 20px;}
	.spec strong.min { font-size: 14px;}
}
/* @media 768 END */

/* @media 600 START */
@media screen and (max-width: 600px) {
	.innerArea { width: 528px;}
	.parentArea { height: 160px; margin-bottom: 12px;}
	.madoriArea {  padding: 10px;  width: 528px;}
	.madoriBtn .btn { width: 258px; margin-bottom: 12px;}
	.spec { width: 216px; height: 102px; padding: 10px; font-size: 20px; letter-spacing: 2px;}
	.spec .mainTxt {float: none; width: 100%; margin-bottom: 5px; padding: 0;}
	.spec .mainTxt strong {font-size: 28px;}
	.spec .space { float: none; width: 100%;}
	.spec strong { font-size: 24px;}
	.specArea {}
	.txt { padding: 0 0px 5px; text-align: left; font-size: 12px; float: none !important;}
	.price { float: none; text-align:left;}
	
	/* contentsBox */
	body .contentsBox {
		background-color: transparent; padding: 0;
	}
}
/* @media 600 END */

/* @media 527 START */
@media screen and (max-width: 527px) {
	.innerArea { width: 480px;}
	.parentArea { height: 135px; margin-bottom: 12px;}
	.madoriArea { width: 480px;}
	.madoriBtn .btn { width: 234px;}
	.spec { width: 204px; font-size: 15px;}
	.sSpec { width: 90%; margin: 5px 5px 10px; padding-bottom: 5px; font-size: 10px;}
	/*.txt { padding: 0 5px 5px; margin-bottom: 20px; text-align: left; font-size: 12px;}*/
	.hanrei { margin-top: 30px; text-align: center;}
	.msCaption { margin-top: 15px; font-size: 10px; text-align: center;}
	.madoriArea .btClose { top: 10px; right: 5px;}
	.madoriArea .btClose img { width: 85%;}
}
/* @media 527 END */

/* @media 479 START */
@media screen and (max-width: 479px) {
	.innerArea { width: 320px;}
	.madoriArea { width: 320px;}
	.madoriBtn .btn { width: 154px; background-size: auto 50%;
		-moz-background-size: auto 50%;
		-webkit-background-size: auto 50%;
		-o-background-size: auto 50%;
		-ms-background-size: auto 50%;
	}
	.parentArea { height: 138px;}
	.spec { width: 125px; height: 110px; padding: 10px; font-size: 15px; letter-spacing: 2px;}
	.spec .mainTxt { padding-top: 0;}
	.spec strong { font-size: 16px;}
	.txt { font-size: 10px;}
	.zu img { width: 100%;}
	.msCaption { letter-spacing: 0px;}
	.spec .tubo { display: none;}
}
/* @media 479 END */

/* @media 320 START */
@media screen and (max-width: 320px) {
	.innerArea { width: 290px;}
	.madoriArea { width: 290px;}
	.madoriBtn .btn { width: 134px;}
	.spec { width: 105px;}
}
/* @media 320 END */