@charset "utf-8";
.charm-title{
	display: table;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom:33px;
}
.charm-titleimage{
	display: table;
	margin: 0 auto;
	padding-bottom:33px;
}
.list-col li{
	float:left;
	width:50%;margin-bottom:50px;
}
li.left{
	float:left;
}
li.right img,li.right p{
 margin-left:25px;
}
li p{
	padding-top:15px;
	text-align:left;
}
.block-land{
	position:relative;
}
.txt{
	width:615px;
	padding-top:30px;
	float:left;text-align:left;
}
.land{
	float:right;position:absolute;top:-60px;right:0;
}
.map{margin-top:45px;}
.txt-map{
  margin-top:-50px;padding-left: 20px;
}
.txt-map p{
  padding-left: 10px;
}
.btn{
	padding-top:30px;padding-bottom:40px;
	padding-left: 20px;
}
.mb{
	display:none;
}
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	background:#2C6124;
	margin-bottom:10px;
	border:1px solid #2C6124;

}
.accordion p{
	padding:10px 0;
}
/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	display:inline-block;
	border-bottom:1px solid #2C6124;
	color:#fff;position:relative;
}

.accordion-section-title.active, .accordion-section-title:hover {
	
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:30px;
	display:none;
	background:#fff;
}
.accordion-section-content.open{
   display:block;
}
.accordion-section-title:after{
	display:block;
	content:"";
	padding:15px 9px;
	position: absolute;
	right:15px;top:15px;
	background:url(../imgs/charm/icon-aco.png) no-repeat center -15px;
}
.accordion-section-title.active:after{
  background:url(../imgs/charm/icon-aco.png) no-repeat center 15px;
  top:-6px;
}
.accordion-section.ac{
	margin-bottom:20px;
}
.charmPage p{
	font-size: 15px;
	color: #231F20;
}
.charmPage .title{
	  display: table;
	  margin: 0 auto;
}
.charmPage .txtright{
	text-align: right;
	font-size: 12px;
	top: -20px;
	display: block;
	position: relative;
}
.charmPage .txtright.mb{
   	display: none;
   }
/* @media 600 START */
@media only screen and (max-width:600px) {
	.mb{display:block;}
	.dt{display:none;}
	.txt-map {
     margin-top:0;
     padding-left:0;
   }
   	.txt-map cap{
   	font-size:12px;
   }
   .charm-title{
   	padding-top:35px;padding-bottom:25px;
   }
   .charm-titleimage{
   	padding-bottom:25px;
   }
   .btn{padding-left:0;}
   #mainContent{
   }
   .txt{padding-top:25px;padding-bottom:15px;}
   .map{margin-top:0;}
   body #container{padding-top:0;}
   .charmPage .txtright.dt{
   	display: none;
   }
   .charmPage .txtright.mb{
   	    margin-top: 20px;
    top: 0;
    margin-bottom: 30px;
   }
   .charmPage .txt{
   	width: 100%;
   }
   .charmPage .txtright.mb{
   	display: block;
   }

}
/* @media 600 END */