body {
	#gHeader {
		#pNav {
			ul {
				li{
					padding-top: 29px;
				}
				li.btReq, li.btRes{
					a{
						height: 80px;
						font-size: 17px;
					}
				}
			}
		}
		#hdrLogoArea {
			padding: 14px 0 10px;
			.shldrTxt {
				padding-top: 2px;
				margin-bottom: 12px;
			}
		}
	}
}