.planPage{
	padding-bottom: 75px;
	.plan-title{
		padding-top: 45px;
		padding-bottom: 32px;
		img{
			display: table;
			margin: 0 auto;
		}
	}
	.txt{
		font-size: 29px;
		text-align: center;
		padding-bottom:35px;
	}
	.plangroup{
		text-align: center;
	}
	.w830{
		width: 850px;
		display: table;
		margin: 0 auto;
		.p2{
			margin-top: 15px;
		}
		.p3{
			margin-top: 18px;
		}

	}
	.p4{
			margin-top: 43px;
		}
}