$fontArial12: normal 11px/1.2 Arial, Helvetica, sans-serif;

@mixin PressStart2P( $value ) {
	font-family: 'Press Start 2P', cursive;
	font-size:$value;
	line-height:1.1;
	font-weight:normal;
}

/*COLOR*/
$colorBlack:#000;
