@charset "utf-8";
.en-title{
	text-align: center;
	padding-top:15px;
	padding-bottom:40px;
}
.tabs li{
	float:left;
	display:block;
	width:33.33%;
}
.tab{
	margin-bottom:30px;
}
.col li{
  float:left;box-sizing: border-box;
}
.col li p{font-size:15px;}
.list-col-2 li{
	width:50%;
}
.list-col-2 li.right, li.right{
	padding-left:18px;
}
.list-col-3 li{
	width:33.33%;
}
.list-col-4 li{
	width:25%;
}
.list-col-3 li.right{
	padding-left:18px;
}
.leafia .tabs-content p{
	padding-top:15px;
   padding-bottom:30px;
}
.block-title p{text-align: center;font-size:17px;}
.col{
  padding-left:10px;box-sizing: border-box;
}
.leafia .slide p{
  padding-top:15px;
  padding-bottom:55px;
}
.leafia .bt-content{
  margin-bottom:60px;
  padding-left:10px;box-sizing: border-box;
}
.leafia .bt-content p{
	padding-bottom:0;
	margin-bottom:0;font-size:12px;
	padding-top:0;
}
.tab-content{
	display:none;
}
.tab-content.current{
			display: inherit;
		}
.ac{
	display:none;
}
ul.tabs li.current .normal,ul.tabs li:hover .normal{display:none;}
ul.tabs li.current .ac,ul.tabs li:hover .ac{
  display:block;
}
ul.tabs li{
		display:inline-block;
	}
ul.tabs li.current{
			background: #ededed;
			color: #222;
		}
#tab-3 .bt-content{
  padding-top:0px;
}
#tab-3 .bottom{
   padding-top:60px;
}
.list-col-1-2 .first{
	width:33.33%;
}
.list-col-1-2 .second{
	width:66.66%;
}
.leafia .bt-content .bt-1{
  padding-top:15px;padding-bottom:20px;
  font-size:15px;
}
.leafia .bt-content .bt-2{
	font-size:12px;
}
.fleft{float:left;}
.mb{display:none;}
.leafia .box{
	border:2px solid #366E2B;background:#FFFDE8;
}
.leafia .box .b-left{
   padding:20px;box-sizing: border-box;
   width:25%;
}
.leafia .box .b-right{
	width:75%;box-sizing: border-box;
	padding-top: 30px;
}
.leafia .box .b-right p{
	font-size:17px;
}
.box-1{
	margin-top:15px;
}
.box-2{
	margin-top:45px;
	margin-bottom:10px;
}
.leafia #tab-2 .bt-content{
  padding-left:0;margin-bottom:50px;
}
.leafia #tab-2 .bt-content p{
	font-size:14px;
}
.btn-img{position:relative;}
.leafia .btn{
	display:block;width:100%;height:30px;position:absolute;bottom:0;
}
#tab-3 .list-col-2 li.first{
  width:45%;
}
.leafia img{max-width:100%;}
#tab-3 .list-col-2 li.second{
  width:55%;
}
#tab-3 .list-col-2 li.second p{padding-top:0;font-size:17px;padding-bottom:15px;}
#tab-3 .box-title{
  margin-bottom:30px;
}
#tab-3 .box-title-3{
	margin-top:100px;margin-bottom:10px;
}
#tab-3 .box-title-3 p{
	text-align: center;
	font-size:17px;
}
.leafia #tab-3.tabs-content p{
  padding-bottom:10px;	
}
.btn-link{
	text-align:center;
	margin-top:15px;margin-bottom:15px;
}
#tab-3 .list-col-2,#tab-3 .bt-content{
	padding-left:0;
}
/* @media 600 START */
@media only screen and (max-width:600px) {
	.dk{display:none;}
	.mb{display:block;}
    .leafia #tab-1 .top .mb{
    	margin-bottom:10px;
    }
    .leafia img.mb{display:inline-block;text-align:center;}
    .leafia #tab-1 .title .mb{
       margin:30px 0;
    }
    .leafia .col{
    	padding-left:0;
    }
	.leafia .tabs-content .col li{width:100%;padding-left:0;margin-bottom:30px;}
	.leafia .block-title{
		margin-top:40px;
	}
	.leafia .block-title p{
        font-size:12px;
	}
	.leafia .bt-content{padding-left:0;}
	.leafia .bt-content .bt-1{font-size:12px;}
	#tab-2 .top .mb{
		margin-bottom:30px;
	}
	#tab-2 .box{border:0;}
	#tab-2 .block-tile{margin-top:20px;}
	#tab-2 .box-1,#tab-2 .box-2{margin-top:25px;}
	#tab-3 .box-title{
		margin-top:20px;
	}
	#tab-3 .list-col-2 li.first,#tab-3 .list-col-2 li.second{width:100%;}
    #tab-3 .list-col-2 li.second p{font-size:12px;}
	#tab-3 .bottom{padding-top:15px;}

	#tab-3 .bt-content{padding-top:0px;}
	#tab-3 .box-title-3 p{font-size:12px;}
	.leafia .tabs-content #tab-3 p{
		padding-bottom:20px;
	}
	.btn-link{
		display:block;
	}
	.btn-link a{
       text-align:center;display:inline-block;
	}
   
}

/* @media 600 END */