@charset "utf-8";

#mainContent.concept-page{
	background:url('../imgs/bg-body.jpg') no-repeat center top;
}
body #container{
	padding-top:0;
}
.list-map{margin-top:20px;}
.list-map ul li{
	float:left;margin-bottom:30px;position:relative;
}
li.right{
  float:right;
  padding-left:41px;
}
.concept-page #contents{
	margin-bottom:450px;
}
.concept-page .list-map .btn{
    width:100%;
    height: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 24px;left:0;right:0;
}
.mb{
	display:none;
}
/* @media 600 START */
@media only screen and (max-width:600px) {
	#mainContent.concept-page{
	 background: transparent;
   }
   .concept-page .wrap.conceptwrap{
    background: url('../imgs/bg-body-mb.png') no-repeat center bottom;
    background-size: cover;
   }
   .concept-page #contents{
    margin-bottom: 240px;
   }
   .dt{display:none;}
   .mb{display:block;}
   .list-map ul li{
      padding-left: 0;
      margin-bottom: 12px;
   }
   .concept-page .list-map img{
    width: 100%;
   }
   .concept-page .accordion-section-title.active .readmore{
    display: none;
   }
   .accordion-section-content{
    display: none;
   }
   .accordion{
    margin-bottom: 20px;
   }
   .accordion-section-content.open{
    display: block;
   }
   .accordion-section-content a{
    padding-top: 10px;
   }
   .accordion-section a.close{
    display:  none;
   }
   .accordion-section a.close.show{
    display: block;
   }
}
/* @media 600 END */